<div class="container mt-4">
  <div class="card p-3 shadow-sm">
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="txt_cadre" class="form-label">Select Office</label>
        <input
          type="text"
          id="txt_cadre"
          class="form-control"
          name="txt_cadre"
          placeholder="Double click here"
          [(ngModel)]="model.office"
          (dblclick)="selectText($event)"
          readonly
        />
      </div>
      <div class="col-md-4">
        <label for="select_mgr" class="form-label">Select Cadre</label>
        <select id="select_cadre" class="form-select" [(ngModel)]="model.cadre">
          <option *ngFor="let cadre of allCadre" [value]="cadre.name">
            {{ cadre.name }}
          </option>
        </select>
      </div>
      <div class="col-md-4 d-flex align-items-end">
        <button
          class="btn btn-primary"
          (click)="search()"
          [disabled]="!model.office || !model.cadre"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="mt-4 card shadow-sm search-results-card">
    <div class="card-header bg-primary text-white">Search Results</div>

    <!-- Scrollable Table Container -->
    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="table table-bordered table-hover"
      >
        <ng-container matColumnDef="slNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl No</th>
          <td mat-cell *matCellDef="let element">{{ element.slNo }}</td>
        </ng-container>

        <ng-container matColumnDef="office">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Office</th>
          <td mat-cell *matCellDef="let element">{{ element.office }}</td>
        </ng-container>

        <ng-container matColumnDef="officeCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Office Code
          </th>
          <td mat-cell *matCellDef="let element">{{ element.officeCode }}</td>
        </ng-container>

        <ng-container matColumnDef="cadre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cadre</th>
          <td mat-cell *matCellDef="let element">{{ element.cadre }}</td>
        </ng-container>

        <ng-container matColumnDef="cadreCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cadre Code
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cadreCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <!-- Fixed Paginator -->
    <mat-paginator
      class="paginator-fixed"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
